.raju{
	
	position: absolute;
	right: 100px;
	width: 25%;
	top: 50px;
	padding-right: 0;
	padding-bottom: 0;
	-webkit-box-shadow: -12px 10px 5px -1px rgba(0,0,0,0.39);
	-moz-box-shadow: -12px 10px 5px -1px rgba(0,0,0,0.39);
	box-shadow: -12px 10px 5px -1px rgba(0,0,0,0.39);

}
.head{
	text-align: center;
	
	padding-right: 800px;
	background-color: #fe7171;
	padding-bottom: 25px;
	padding-top: 100px;
	
}
.rajon{
	position: relative;
	left: 100px;
	width: 20%;
	top: 10px;
	bottom: 30px;
	padding-right: 0;
	padding-bottom: 0;
	-webkit-box-shadow: -12px 10px 5px -1px rgba(0,0,0,0.39);
	-moz-box-shadow: -12px 10px 5px -1px rgba(0,0,0,0.39);
	box-shadow: -20px 16px 10px -1px rgba(0,0,0,0.39);

}
.second{
	position: relative;
	bottom: 350px;
	padding-left: 100px;
	padding-top:0px;
	text-align: left;
	margin: 0px 200px 10px 350px;
}
.why-image{
	margin: 30px 70px 20px 70px;

}
#memo{
	background-color: #ffb0b0;
	font-family: 'Cookie', cursive;
}
.card{
	margin: 50px 30px 50px 30px;
	text-align: center;
	padding-top: 40px;
	-webkit-box-shadow: -12px 10px 5px -1px rgba(0,0,0,0.39);
	-moz-box-shadow: -12px 10px 5px -1px rgba(0,0,0,0.39);
	box-shadow: -20px 16px 20px -1px rgba(0,0,0,0.39);
  transition: 0.5s;
 
  border-radius: 5px;
  background-color: #222831;

}
.card:hover {
  box-shadow: 0 20px 30px 0 rgba(2,2,2,2.2);
}
.conclu{
	text-align: center;
	font-family: 'Ranchers', cursive;
	padding-top: 20px;
	color: #931a25;

}
.heart{
	width: 5%;
	position: relative;
	left: 1050px;
	
	bottom: 50px;
}
.conclu{
	text-align: center;
}
.head-wish{
	 font-family: 'Norican', cursive;
	 
}
.second{
	font-family: 'Bentham', serif;

}
.hey h2{
	font-size: 3rem;
}
.wish h1{
	font-size: 5rem;
}
@media(max-width: 998px){
	.head-wish{
		margin:0 500px 0 10px;
		padding-bottom: 30px;
	}
	.raju{
		position: absolute;
		top: 150px;
		width: 30%;
	}
	.second{
		padding-top: 200px;
		margin: 0 50px 0 350px;
	}

	.rajon{
		position: relative;
		top: 200px;
		width: 30%;
	}
	.card{
		margin: 40px 200px 40px 200px;
		

}